.form-group {
	display: inline-block;
}

.form-group > input {
	margin-left: 10px;
	margin-right: 20px;
}

td:last-child {
	width: 30%;
}

div .inline-form-wrapper {
	display: inline-block;
	margin-left: 10px;
}

.inline-form-wrapper > form {
	margin-bottom: 0px;
}
