<form class='form-horizontal' method="POST">

  <input type='hidden' name='id'></input>

  <div class='control-group'>
    <label class='control-label' for='amount'>Charge Amount</label>
    <div class='controls'>
      <input type='text' name='amount' id='amount' placeholder='Total charge amount'></input>
      </div>
  </div>

  <div class='control-group'>
    <label class='control-label' for='memo'>Memo</label>
    <div class='controls'>
      <input type='text' name='memo' id='memo' placeholder='Memo'></input>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <button type='submit' class='btn btn-success'>Charge Circle</button>
    </div>
  </div>

</form>
