<div class='row'>
  <div class='span12'>

    <h2 id='circle-name'>Circle Name</h2>

    <div class='alert'>
    </div>

    <div class='row'>

      <div class='span6'>
        <h4>Charge this Circle</h4>
        <div class='charge'>
        </div>
      </div>

      <div class='span6'>
        <h4>Invite Members</h4>
        <p>Send this link to your friends to have them join the circle!</p>
        <input type="text" name="invite-code" value="Test Input" disabled></input>
      </div>

    </div>

    <h4>Circle Members</h4>

    <table class='table table-striped'>

      <thead>
        <th>Name</th>
        <th>Last Charge Issued</th>
        <th></th>
      </thead>

      <tbody>
      </tbody>

    </table>


  </div>
</div>
