<div class='row'>
  <div class='span12'>

    <form class='form-horizontal'>

      <div class='control-group'>
        <label class='control-label' for='email'>Email</label>
        <div class='controls'>
          <input type='text' id='email' placeholder='Email'>
        </div>
      </div>

      <div class='control-group'>
        <label class='control-label' for='password'>Password</label>
        <div class='controls'>
          <input type='password' id='password' placeholder='Password'>
        </div>
      </div>

      <div class='control-group'>
        <div class='controls'>
          <button type='submit' class='btn btn-success'>Sign Up</button>
        </div>
      </div>
    </form>

  </div>
</div>
